{% extends 'USECStudentBundle:Default:layout.html.twig' %}

{% block title %}
Portail d'administration
{% endblock %}

{% block content %}
<div class="row-fluid">
	<div class="span9 offset1">
		<h1>Portail d'administration</h1>
	</div>
</div>
        
<ul>
  <li><a href="{{ path('student_admin') }}">Etudiants inscrits comme consultants</a></li>
  <li><a href="{{ path('study_admin') }}">Etudes disponibles</a></li>
</ul>

{% endblock %}