parameters:
    database_driver: pdo_mysql
    database_host: localhost
    database_port: null
    database_name: usecetu
    database_user: usecetu
    database_password: 
    mailer_transport: smtp
    mailer_host: localhost
    mailer_user: null
    mailer_password: null
    locale: en
    secret: 6e625ca5ed1a9cf041788c6a1682586aa17476f9
    database_path: null
    # CAS parameters
    cas_login_url: https://cas.utc.fr/cas/login
    cas_logout_url: https://cas.utc.fr/cas/logout
    cas_validation_url: https://cas.utc.fr/cas/serviceValidate
    # Disable SSL for CAS (For dev. only)
    # be_simple.sso_auth.client.option.curlopt_ssl_verifypeer.value: FALSE